<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="{{ site.author.name }}" name="author">
  {% capture page_title %}{% if page.title == '' %}Update from {{ page.date | date: "%B %d, %Y at %H:%M %Z" }}{% else %}{{ page.title }}{% endif %}{% endcapture -%}
  {% if page.url == "/" -%}
  <meta content="{{ site.description }}" name="description">
  <title>{{ site.title }}</title>
  {% elsif page.layout == 'post' -%}
  <title>{{ site.title }} - {{ page_title }}</title>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ site.title }} - {{ page_title }}">
  {% if page.categories contains "weeknotes" -%}
  <meta property="og:description" content="{{ site.weeknotes.description }}">
  <meta content="{{ site.weeknotes.description }}" name="description">
  {% else -%}
  <meta property="og:description" content="{{ page.excerpt | strip_html }}">
  <meta content="{{ page.excerpt | strip_html }}" name="description">
  {% endif -%}
  {% else -%}
  <title>{{ site.title }} - {{ page_title }}</title>
  {% endif -%}
	<link href="https://micro.blog/{{ site.microblog_username}}/favicon.png" rel="shortcut icon" type="image/x-icon" />
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/assets/css/highlight.css"rel="stylesheet">
  <link href="/feed.json" title="{{ site.title }} - JSON Feed" type="application/json" rel="alternate">
  <link href="/feed.xml" title="{{ site.title }} - RSS Feed" type="application/rss+xml" rel="alternate">

  <link rel="me" href="{{ site.links.github }}" />
  <link rel="me" href="{{ site.links.mastodon }}" />
  <link rel="me" href="{{ site.links.twitter }}" />
  <link rel="pgpkey" href="{{ site.links.pgpkey }}" />
</head>
<body>
  {% include navigation.html %}
  {% if page.profile %}
  {% include profile.html %}
  {% endif %}
  <section id="wrapper"{% if page.url == "/about/" %} class="bio"{% endif %}>
    {{ content }}
  </section>
  <footer id="footer">
    {% include footer.html %}
  </footer>
</body>
</html>
