---
layout: default
---
<article class="timeline">
  <header>
    <h1 class="">All Posts</h1>
    <h2 class="headline">
      <span class="dates">
        {{ page.begin | date: "%b %-d, %Y" }} &ndash; {{ page.end | date: "%b %-d, %Y" }}
      </span>
    </h2>
  </header>
</article>
<ul id="post-list">
  {% for post in page.posts %}
  <li>
    <article>
      {% if post.title == "" %}
      <section class="post-body">
        {{ post.content }}
      </section>
      {% else %}
      <header>
        <h2><a href="{{ site.baseurl }}/{{ post.url | remove_first: '/' }}">{{ post.title }}</a></h2>
      </header>
      {% endif %}
      <a href="{{ site.baseurl }}/{{ post.url | remove_first: '/' }}" class="u-url">
        <aside class="dates">
          <time datetime="{{ post.date }}" class="dt-published">→ {{ post.date | date:"%-I:%M %p, %b %-d" }}</time>
        </aside>
      </a>
    </article>
  </li>
  <span class="separator"><span class="divider"></span></span>
  {% endfor %}
</ul>
<nav id="post-nav">
  {% if page.next_tl %}
  <span class="prev">
    <a href="{{ page.next_tl }}.html">
      <span class="arrow">←</span> Newer Posts
    </a>
  </span>
  {% endif %}
{% if page.prev_tl %}
  <span class="next">
    <a href="{{ page.prev_tl }}.html">
      Older Posts <span class="arrow">→</span>
    </a>
  </span>
{% endif %}
</nav>
