---
layout: frame
profile: true
---
<ul id="post-list">
  {% for post in site.posts limit: site.max_posts %}
  <li>
    <article>
      {% if post.title == "" %}
      <section class="post-body">
        {{ post.content }}
      </section>
      {% else %}
      <header>
        <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
      </header>
      {% endif %}
      <a href="{{ post.url | relative_url }}" class="u-url">
        <aside class="dates">
          <time datetime="{{ post.date }}" class="dt-published">→ {{ post.date | date:"%-I:%M %p, %b %-d" }}</time>
        </aside>
      </a>
    </article>
  </li>
  <span class="separator"><span class="divider"></span></span>
  {% endfor %}
</ul>

<nav id="post-nav">
  <span class="next">
    <a href="{% timeline_path %}">
      All Posts <span class="arrow">→</span>
    </a>
  </span>
</nav>
